.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height: 100%;   
    font-family: "DS-Digital", sans-serif;
    background-size: cover;
}

.bg1 {
    background-image: url("/images/planet_1.svg"), url("/images/universe1.jpg");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 500px, cover;
}

.bg2 {
    background-image: url("/images/planet_2.svg"), url("/images/universe2.jpg");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 500px, cover;
}

.bg3 {
    background-image: url("/images/planet_3.svg"), url("/images/universe3.jpg");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 500px, cover;
}

.bg4 {
    background-image:  url("/images/planet_4.svg"), url("/images/universe4.jpg");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 500px, cover;
}

